[submodule "themes/xterm"]
	path = themes/xterm
	url = https://github.com/manid2/hugo-xterm.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
